// SETUP
// @import 'setup/typography';
@import 'setup/variables';
@import 'setup/mixins';
@import 'setup/functions';
// // BASICS
@import 'basics/helpers';
@import 'basics/base';
@import 'basics/layout';
// // COMPONENTS
@import 'components/app-header';
@import 'components/app-footer';
@import 'components/toy-filter';
@import 'components/card-toy';
@import 'components/toy-preview';
@import 'components/toy-list';
@import 'components/toy-edit';
@import 'components/toy-details';
@import 'components/toy-review-user';
@import 'components/about';
@import 'components/home';
@import 'components/dashboard-toy';
// @import 'components/cat-card';
// #app {
//     font-family: Avenir, Helvetica, Arial, sans-serif;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
//     text-align: center;
//     color: #2c3e50;
// .toy-filter {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }
// .labels {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     height: 150px;
// }

/* display: flex;
flex-direction: column;
align-items: center;
justify-content: center; */


/* .toy-app {
} */