.toy-details {
    .card-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .tags-head {
            >* {
                margin: 0 20px;
            }
        }
        .tag-group {
            margin: 10px 15px;
            .tag {
                margin: 0 7px;
            }
        }
    }
    img {
        height: 250px;
    }
    .review,
    .msg {
        background-color: rgba(255, 255, 255, 0.493);
        margin: 5px;
        width: 70%;
        box-shadow: 1px 1px 5px 0px;
        border-radius: 0.3rem;
        h3 {
            font-family: monospace;
            margin: 10px;
        }
        .review-contant {
            margin-inline-start: 20px;
            margin-top: 5px;
            margin-bottom: 5px;
            display: flex;
            align-items: center;
        }
        .right-side {
            margin-inline-start: 20px;
            line-height: 1rem;
        }
    }
    .chat-room {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 50%;
        .msg {
            width: 100%;
        }
    }
}