.review-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .review {
        background-color: rgba(255, 255, 255, 0.493);
        margin: 5px;
        width: 70%;
        box-shadow: 1px 1px 5px 0px;
        border-radius: 0.3rem;
        h3,
        p {
            font-family: monospace;
            margin: 10px;
        }
        .review-contant {
            margin-inline-start: 20px;
            margin-top: 5px;
            margin-bottom: 5px;
            display: flex;
            align-items: center;
        }
        .right-side {
            margin-inline-start: 20px;
            line-height: 1rem;
        }
    }
}